.collapseTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.collapseTitle > div {
  width: fit-content;
}

.shevron {
  margin-right: 8px;
  width: fit-content;
}

.children {
  margin-top: 8px;
  margin-left: 16px;
}

.subtitle {
  margin-left: 4px;
}

.connectionControl {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.spacer {
  flex: 1;
}
